/* Estilos para o componente EditProduct */
.editProductBody {
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  background: linear-gradient(#2836d3, #252525 60%);
}

.editProductBody h2 {
  text-align: center;
  font-size: 52px;
}

.editProductBody form {
  text-align: left;
  margin-left: 20%;
}

.editProductBody label {
  font-size: 28px;
}

.inputEditProductBody,
.editProductBody textarea {
  background-color: #afafaf;
  margin-top: 2%;
  margin-left: 2%;
  width: 25vw;
  font-size: 25px;
}

.editProductBody button {
  width: 15vw;
  margin: 2%;
  margin-left: 70%;
  font-size: 25px;
  border-radius: 15px;
  background-color: crimson;
}

.editProductBody .currentElement {
  margin-top: 40px;
}
