.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: auto;
  background: linear-gradient(-45deg, #c00202, #c03f3f);
  width: 9vw;
  height: 100vh;
  position: fixed;
  text-align: center;
}

.sidebar img,
.sidebar div img {
  width: 5vw;
  height: 90%;
  margin: auto;
  cursor: pointer;
}

.sidebar p {
  color: #252525;
  font-size: 48px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
}
